::selection {
    background: #12e8f0;
    color: #fff;
    
  }
  .blurred {
    filter: blur(5px);
  }
  
  .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
   z-index: 100;
    overflow: hidden;
    max-width: 400px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 30px;
    
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 6;
   }
  .wrapper .title-text {
    display: flex;
    width: 200%;
  }
  .wrapper .title {
    width: 50%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
  .slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup {
    color: #000;
  }
  .slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background:linear-gradient(200deg, black, black, black, #3ef4b1);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .name_select{
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease; 
  }
  /* LoadingSpinner.css */

  
  @keyframes ldio-9r9i911zkwt {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-9r9i911zkwt div {
    left: 185px;
    top: 150px;
    position: absolute;
    animation: ldio-9r9i911zkwt linear 1s infinite;
    background: #71feb7;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }.ldio-9r9i911zkwt div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #71feb7;
  }.ldio-9r9i911zkwt div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #71feb7;
  }
  .loadingio-spinner-spinner-dtd5b1kjoqi {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:black; /* Adjust the opacity as needed */
  z-index: 1000; /* Make sure the overlay is on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .ldio-9r9i911zkwt {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-9r9i911zkwt div { box-sizing: content-box; }
  

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  input[type="radio"] {
    display: none;
  }
  #signup:checked ~ .slider-tab {
    left: 50%;
  }
  #signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login {
    color: #000;
  }
  #login:checked ~ label.signup {
    color: #000;
  }
  #login:checked ~ label.login {
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container {
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner {
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .form-inner form .field {
    height: 45px;
    width: 100%;
    margin-top: 15px;
  }
  .form-inner form .field input {
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 15px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus {
    border-color: #12e8f0;
  }
  .form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder {
    color: #b3b3b3;
  }
  .form-inner form .pass-link {
    margin-top: 5px;
  }
  .form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a {
    color: #0e45dd;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover {
    text-decoration: underline;
  }
  form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: linear-gradient(200deg, black, black, #3ef4b1);
    border-radius: 5px;
    transition: all 0.4s ease;
  }
  form .btn:hover .btn-layer {
    left: 0;
  }
  form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .slide {
    color: #ccc;
    transition: all 0.3s ease;
  }
  
  .slide.signup:checked {
    color: #fff;
  }
  
  .slide.signup:checked ~ .slider-tab {
    background-color: #fff;
    left: 50%;
  }
  
  .slide.login:checked {
    color: #fff;
  }
  
  .slide.login:checked ~ .slider-tab {
    background-color: #fff;
    left: 0%;
  }
  .options-container {
    color:white;
    position: absolute;
    max-height: 150px;
    overflow-y: auto;
    background-color: black;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .option {
    padding: 8px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: rgb(35, 33, 33);
  }
  /* styles.css */

.custom-select {
  /* Apply your custom styles here */
  color: white;
  background-color: black;
}

.custom-select-option {
  /* Apply your custom styles for options here */
  color: white;
  background-color: black;
}

.custom-select-control {
  /* Apply your custom styles for the control (dropdown) here */
  color: white;
  background-color: black;
}

.custom-select-input {
  /* Apply your custom styles for the input here */
  color: white;
}
