

.custom-container {
	color: #333;
	margin: 0 auto;
	text-align: center;
  
	
  }
  .custom-heading {
	font-weight: normal;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
  }

  .timer-list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
  }

  .timer-list-item {
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
	text-transform: uppercase;
	padding: 1em;
  }

  .timer-label {
	font-size: 4.5rem;
  }

  .emoji {
	display: none;
	padding: 1rem;
  }

  .emoji span {
	font-size: 4rem;
	padding: 0 0.5rem;
  }

  @media all and (max-width: 768px) {
	.custom-heading {
	  font-size: calc(1.5rem * var(--smaller));
	}

	.timer-list-item {
	  font-size: calc(1.125rem * var(--smaller));
	}

	.timer-label {
	  font-size: calc(3.375rem * var(--smaller));
	}
  }