@font-face {
    font-family: 'Poppins';
    src: url('path-to-poppins-font.woff2') format('woff2'),
         url('path-to-poppins-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

#timeline_heading{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;

    color:white;
    text-align: center;
    text-decoration: underline;
    margin:5px;
    margin-bottom: 25px ;
    font-size: 3.2em;

}

.timeline ul li {
color:white;
  margin-top: 0;
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%)
   rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  background: #eee;
}
.bg_heading{
color:red;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background: linear-gradient(200deg, black, black, black,black,black, #3ef4b1);

  box-shadow: 4px 13px 30px 1px
   rgba(56, 252, 177, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.timeline ul li div time {
  position: absolute;
  background: #f5af19;
  width: 80px;
  height: 30px;
  top: -15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}
.timeline ul li div div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline ul li div div p {
  text-align: center;
}
.timeline ul li div .discovery {
  margin-right: 10px;
}
.timeline ul li:nth-of-type(odd) > div {
  left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
  left: -439px;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-of-type(odd) div {
  transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.timeline ul li:nth-of-type(even) div {
  transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.timeline ul li.in-view div{
    transform: none;
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 900px){
    .timeline ul li div{
        width: 250px;
        flex-direction: column;
    }
    .timeline ul li div div{
        width: 80%;
        margin: 10px;
    }
    .timeline ul li:nth-of-type(even) > div{
        left: -289px;
    }
}
@media screen and (max-width:600px){
    body{
        background: #8bfff4;
    }
    .timeline ul li{
        margin-left: 40px;

    }
    .timeline ul li div{
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-of-type(even) > div{
        left: 45px;
    }
}

